[submodule "FitText.js"]
	path = src/FitText.js
	url = https://github.com/davatron5000/FitText.js.git

[submodule "FlowType.JS"]
	path = src/FlowType.JS
	url = https://github.com/simplefocus/FlowType.JS.git

[submodule "animate.css"]
	path = src/animate.css
	url = https://github.com/daneden/animate.css.git

[submodule "bootstrap"]
	path = src/bootstrap
	url = https://github.com/twbs/bootstrap.git

[submodule "card"]
	path = src/card
	url = https://github.com/jessepollak/card.git

[submodule "dropcap.js"]
	path = src/dropcap.js
	url = https://github.com/adobe-webplatform/dropcap.js.git

[submodule "Font-Awesome"]
	path = src/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git

[submodule "html5-boilerplate"]
	path = src/html5-boilerplate
	url = https://github.com/h5bp/html5-boilerplate.git

[submodule "html5shiv"]
	path = src/html5shiv
	url = https://github.com/aFarkas/html5shiv.git

[submodule "jquery-hoverIntent"]
	path = src/jquery-hoverIntent
	url = https://github.com/briancherne/jquery-hoverIntent.git

[submodule "skrollr"]
	path = src/skrollr
	url = https://github.com/Prinzhorn/skrollr.git

[submodule "skrollr-ie"]
	path = src/skrollr-ie
	url = https://github.com/Prinzhorn/skrollr-ie.git

[submodule "skrollr-menu"]
	path = src/skrollr-menu
	url = https://github.com/Prinzhorn/skrollr-menu.git

[submodule "slick"]
	path = src/slick
	url = https://github.com/kenwheeler/slick.git

[submodule "superfish"]
	path = src/superfish
	url = https://github.com/joeldbirch/superfish.git

[submodule "src/materialize"]
	path = src/materialize
	url = https://github.com/Dogfalo/materialize.git
[submodule "src/bootstrap-material-design"]
	path = src/bootstrap-material-design
	url = https://github.com/FezVrasta/bootstrap-material-design.git
[submodule "src/Respond"]
	path = src/Respond
	url = https://github.com/scottjehl/Respond.git
[submodule "src/Typist"]
	path = src/Typist
	url = https://github.com/positionly/Typist.git
[submodule "src/waypoints"]
	path = src/waypoints
	url = https://github.com/imakewebthings/waypoints.git
